[Unit]
Description=MySQL DB %I backup to S3
Wants=network-online.target
After=network-online.target
Requisite=mysql.service

[Service]
User=mysql
Type=oneshot
ExecStart=s3_backup_mysql.sh %I
EnvironmentFile=../s3_backup.conf
