[Unit]
Description=PostgreSQL %I backup to S3
Wants=network-online.target
After=network-online.target

[Service]
User=postgres
Type=oneshot
ExecStart=s3_backup_postgres.sh %I
EnvironmentFile=../s3_backup.conf
Environment=WAL_DIR=/var/spool/postgresql
